<%# vim: set filetype=html: %>
<%
var description = 'Fressets, Inc. is a Bitcoin / cryptocurrency / Blockchain technology startup based at Tokyo, Japan.';
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keyword" content="IT,computer,system,program,web" />
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="Fressets, Inc." />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- PLUGINS CSS STYLE -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="/plugins/slick/slick.css" rel="stylesheet" media="screen">
    <link href="/plugins/slick/slick-theme.css" rel="stylesheet" media="screen">
    <link href="/plugins/prismjs/prism.css" rel="stylesheet">
    <link href="/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="/plugins/fancybox/fancyMorph.css" rel="stylesheet" />
    <link href="/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="/plugins/thin-line-icons/css/thin-line-icons.css" rel="stylesheet">
    <link href="/plugins/isotope/isotope.min.css" rel="stylesheet">
    <link href="/plugins/animate.css" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <!-- CUSTOM CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css" id="option_color">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fressets" />
    <meta name="twitter:title" content="Fressets, Inc. | Bitcoin, Cryptocurrency, Blockchain startup" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="https://fressets.com/img/logo.png" />
    <!-- Open Graph -->
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Fressets, Inc. | Bitcoin, Cryptocurrency, Blockchain startup" />
    <meta name="og:description" content="<%= description %>" />
    <meta name="og:image" content="https://fressets.com/img/logo.png" />
    <script type="text/javascript">
      // Fot open-in-a-new-tab.
      $(document).ready(function() {
      	$('a[data-newtab]').prepend('<span class="glyphicon glyphicon-new-window" style="font-size:80%;"></span> ');
      	$('a[data-newtab]').attr('target', '_blank');
      });
    </script>
    <title>
      <% if(typeof fullTitle != 'undefined') { %>
        <%- fullTitle %>
        <% } else { %>
        <%- locals.title %> | Fressets, Inc.
        <% } %>
      </title>
    </head>
    <body id="body" class="home-classic boxed-menu">
      <div class="mobile-sticky-header-overlay"></div>
      <!-- TOPBAR -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <div class="topbar-content">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:+251-235-3256">+251-235-3256</a>
              </div>
              <div class="topbar-content">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:info@example.com ">info@example.com</a>
              </div>
              <div class="topbar-content">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>New York, USA</p>
              </div>
            </div>
            <div class="col-sm-3 text-right">
              <a href="#" class="btn btn-primary btn-default bold" data-morphing id="morphing" data-src="#morphing-content" href="javascript:;">Get a Quote</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TOPBAR ENDS-->
      <!-- HEADER -->
      <header id="pageTop" class="header">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md main-nav bg-dark-navy">
          <div class="container">
            <button class="navbar-toggler navbar-toggler-right">
              <span class="burger-menu icon-toggle"><i class="fa fa-bars"></i></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <svg
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="171px" height="28px">
                <path class="logo-path-1" fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                 d="M67.098,27.701 L43.857,27.701 L43.857,23.078 L59.204,5.376 L44.335,5.376 L44.335,0.042 L67.098,0.042 L67.098,4.665 L51.750,22.367 L67.098,22.367 L67.098,27.701 ZM30.782,0.042 L36.921,0.042 L36.921,27.701 L30.782,27.701 L30.782,0.042 ZM14.201,27.701 L0.926,27.701 L0.926,0.042 L13.882,0.042 C17.071,0.042 19.583,0.911 21.177,2.492 C22.453,3.756 23.091,5.297 23.091,7.194 L23.091,7.273 C23.091,10.394 21.416,12.133 19.423,13.239 C22.652,14.464 24.645,16.321 24.645,20.035 L24.645,20.114 C24.645,25.172 20.500,27.701 14.201,27.701 ZM16.991,8.221 C16.991,6.403 15.556,5.376 12.965,5.376 L6.906,5.376 L6.906,11.224 L12.566,11.224 C15.277,11.224 16.991,10.355 16.991,8.300 L16.991,8.221 ZM18.546,19.285 C18.546,17.427 17.151,16.282 14.002,16.282 L6.906,16.282 L6.906,22.367 L14.201,22.367 C16.912,22.367 18.546,21.418 18.546,19.364 L18.546,19.285 Z"/>
                <path class="logo-path-2" fill-rule="evenodd"  fill="rgb(74, 200, 237)"
                 d="M166.000,19.000 C163.239,19.000 161.000,16.761 161.000,14.000 C161.000,11.239 163.239,9.000 166.000,9.000 C168.761,9.000 171.000,11.239 171.000,14.000 C171.000,16.761 168.761,19.000 166.000,19.000 ZM151.926,27.701 L145.667,18.218 L139.369,27.701 L132.392,27.701 L142.119,13.634 L132.791,0.042 L139.967,0.042 L145.787,9.011 L151.727,0.042 L158.703,0.042 L149.375,13.555 L159.102,27.701 L151.926,27.701 ZM107.001,0.042 L128.049,0.042 L128.049,5.455 L113.100,5.455 L113.100,11.066 L126.255,11.066 L126.255,16.479 L113.100,16.479 L113.100,22.288 L128.248,22.288 L128.248,27.701 L107.001,27.701 L107.001,0.042 ZM80.772,10.118 L80.772,27.701 L74.713,27.701 L74.713,0.042 L80.374,0.042 L93.449,17.072 L93.449,0.042 L99.509,0.042 L99.509,27.701 L94.286,27.701 L80.772,10.118 Z"/>
              </svg>
            </a>
            <div class="navbar-collapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"><span class="sr-only">(current)</span>Home</a>
                </li>
                <li class="nav-item dropdown drop_single ">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">Pages</a>
                  <ul class="dropdown-menu dd_first">
                    <li><a href="page-aboutus.html">About Us</a></li>
                    <li><a href="page-team.html">Team</a></li>
                    <li><a href="page-member-details.html">Profile</a></li>
                    <li><a href="page-error.html">404 page</a></li>
                    <li><a href="page-comingsoon.html">Coming Soon </a></li>
                    <li><a href="page-contactus.html">Contact Us </a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown drop_single ">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">Services</a>
                  <ul class="dropdown-menu dd_first">
                    <li><a href="service.html">Services </a></li>
                    <li><a href="service-details-left-sidebar.html">Service Details Left Sidebar</a></li>
                    <li><a href="service-details-right-sidebar.html">Service Details Right Sidebar</a></li>
                    <li><a href="service-details-fullwidth.html">Service Details Fullwidth</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown drop_single ">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">Portfolio</a>
                  <ul class="dropdown-menu dd_first">
                    <li><a href="portfolio-projects.html">Projects</a></li>
                    <li><a href="portfolio-project-details.html" >Project Details</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown drop_single ">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">Blogs</a>
                  <ul class="dropdown-menu dd_first">
                    <li><a href="blog-classic-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-classic-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-classic-fullwidth.html">Blog Fullwidth</a></li>
                    <li><a href="blog-grid-two-column.html">Blog two column</a></li>
                    <li><a href="blog-grid-three-column.html">Blog three column</a></li>
                    <li><a href="blog-singlepost-left-sidebar.html">Post left Sidebar</a></li>
                    <li><a href="blog-singlepost-right-sidebar.html">Post Right Sidebar</a></li>
                  </ul>
                </li>
                <li class=" dropdown megaDropMenu nav-item " >
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">Elements</a>
                  <ul class="row dropdown-menu">
                    <li class="col-md-4 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="elements-alert.html">Alerts</a></li>
                        <li><a href="elements-animation.html">Animation</a></li>
                        <li><a href="elements-background.html">Background</a></li>
                        <li><a href="elements-badge.html">Badge</a></li>
                        <li><a href="elements-breadcrumb.html">Breadcrumb</a></li>
                        <li><a href="elements-buttons.html">Buttons</a></li>
                        <li><a href="elements-buttons-group.html">Button Group</a></li>
                        <li><a href="elements-card.html">card</a></li>
                        <li><a href="elements-carousel.html">Carousel</a></li>
                        <li><a href="elements-collapse.html">Collapse</a></li>
                        <li><a href="elements-countdown.html">Countdown</a></li>
                        <li><a href="elements-dropdown.html">Dropdowns</a></li>
                      </ul>
                    </li>
                    <li class="col-md-4 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="elements-forms.html">Forms</a></li>
                        <li><a href="elements-gallery.html">Gallery</a></li>
                        <li><a href="elements-iconset.html">Iconset</a></li>
                        <li><a href="elements-image.html">Image</a></li>
                        <li><a href="elements-input_group.html">Input Group</a></li>
                        <li><a href="elements-list-group.html">List Group</a></li>
                        <li><a href="elements-map.html">Map</a></li>
                        <li><a href="elements-modal.html">Modal</a></li>
                        <li><a href="elements-navs.html">Navs</a></li>
                        <li><a href="elements-navbar.html">Navbar</a></li>
                        <li><a href="elements-pagination.html">Pagination</a></li>
                        <li><a href="elements-popovers.html">Popovers</a></li>
                      </ul>
                    </li>
                    <li class="col-md-4 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="elements-pricing.html">Pricing Table</a></li>
                        <li><a href="elements-progressbar.html">Progress</a></li>
                        <li><a href="elements-responsive.html">Responsive utilities</a></li>
                        <li><a href="elements-scrollspy.html">Scrollspy</a></li>
                        <li><a href="elements-seperator.html">Seperator</a></li>
                        <li><a href="elements-tabs.html">Tabs & wizards</a></li>
                        <li><a href="elements-tables.html">Tables</a></li>
                        <li><a href="elements-team.html">Team</a></li>
                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                        <li><a href="elements-tooltips.html">Tooptips</a></li>
                        <li><a href="elements-typography.html">Typography</a></li>
                        <li><a href="elements-video.html">Video & Audio</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <!-- header search -->
                <li class="nav-item">
                  <a href="" class="btn-search nav-link"><i class="fa fa-search"></i></a>
                  <form  class="search_form">
                    <input type="text" name="search" placeholder="Search anything..">
                    <button class="btn btn-primary btn-small" type="submit">Search</button>
                  </form>
                </li>
              </ul>
            </div>
            <!-- header search ends-->
          </div>
          <!-- NAVBAR ENDS-->
        </nav>
      </header>
      <div class="main-wrapper home">
